.header{
    background-color:skyblue;
}
.container{
    
    

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.white{
    color: aliceblue;
    
}
a{
    text-decoration: none;
}
nav a{
    margin-right: 5px;
}
.red{
    color: brown;
}
.comman{
    border: 3px solid red;
    width:19%;
    text-align: -webkit-center;
    height: 280px;
    margin: 35px;
    /* padding: 28px 0px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0 auto; */
}

.main{
     background-color: lightgrey;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
     
    

}
.hero{
    background-color: orange;
}
.left{
    
    
    
}
.right .hero{
    float: right;
    /* clear: both; */
    
    
}
.center .hero{
    float: left;
    /* clear: both; */
    
    
 }  
 .size{
    width: 60px;
    height: 60px;
    border: 3px solid green;
    text-align:center;
    margin: 15px 15px;
    border-radius: 5px;
    /* padding: 5px; */
}  
 .section{
     display: flex;
     justify-content: space-evenly;
     
     flex-wrap: wrap;
 } 
 .D{
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .posB .hero{
        position: relative;
        top:40px ;
        left: 25px;
    }
    .posC .hero{
        position: absolute;
        bottom: px;
    }
    .listA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li{
        width: 60px;
        height: 60px;
        border: 3px solid green;
        text-align: center;
        
        margin: 15px 15px;
        padding: 5px;
        background-color: aquamarine;
        border-radius: 5px;
    }
    .line{
        color: brown;
    }
    .section22{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 800px;
        /* justify-content: row; */
        /* flex-direction:row; */
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .FiveItems{
      display: flex;
      justify-content: center;
    }
    #item3{
        padding: 5px 100px;
    } 
    .SixItems{
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        width: 550px;
    }   
    .navigation{
        margin-left: 50px;
        display: flex;
        justify-content: center;
    }
    .footer{
        background-color: lightblue;
        padding:20px 0px ;
    }

      .size:hover , li:hover{
          background-color:yellow;
      } 
      .T{
          position: fixed;
          bottom: 100px;
          left: 1310px;
          padding: 6px;
          color:white;
        border-radius: 50px;
          background-color:coral;
      } 

        
        
    
  


    

/* .clearfix::before,
.clearfix::after
{
    content: "";
    display: block;
    

}
.clearfix::after
{
    
    clear: both;
}  */