.header{
    background-color:skyblue;
}
.container{
    
    

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.white{
    color: aliceblue;
    
}
a{
    text-decoration: none;
}
nav a{
    margin-right: 5px;
}
.red{
    color: brown;
}
.comman{
    border: 3px solid red;
    width:19%;
    text-align: -webkit-center;
    height: 280px;
    margin: 35px;
    /* padding: 28px 0px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0 auto; */
}

.main{
     background-color: lightgrey;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
     
    

}
.hero{
    background-color: orange;
}
.left{
    
    
    
}
.right .hero{
    float: right;
    /* clear: both; */
    
    
}
.center .hero{
    float: left;
    /* clear: both; */
    
    
 }  
 .size{
    width: 60px;
    height: 60px;
    border: 3px solid green;
    text-align:center;
    margin: 15px 15px;
    /* padding: 5px; */
}  
 .section{
     display: flex;
     justify-content: space-evenly;
     
     flex-wrap: wrap;
 } 
 .D{
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .posB .hero{
        position: relative;
        top:40px ;
        left: 25px;
    }
  


    

/* .clearfix::before,
.clearfix::after
{
    content: "";
    display: block;
    

}
.clearfix::after
{
    
    clear: both;
}  */